<div class="container-flex p-5">
    <div class="body">
        <h2 class="text-center pt-2">
            Add New Engineer
        </h2>

        <div class="container">
            <div *ngIf="getMessage()" [ngClass]="getMessageClass()" class="message alert ">
                {{ getMessage() }}
            </div>

            <div *ngIf="!engineerCreateForm.valid && engineerCreateForm.submitted" class="alert alert-danger">
                All fields are required!
            </div>
        </div>

        <div class="card" style="margin-left: 25%;">
            <div class="card-body">
                <form (ngSubmit)="addNewEngineer()" #engineerCreateForm="ngForm" method="post">

                    <div class="form-group">
                        Engineer Full Name:
                        <input type="text" class="form-control" name="engineerName" [(ngModel)]="engineer.engineerName"
                            required>
                    </div>

                    <div class="form-group">
                        Engineer Username:
                        <input type="text" class="form-control" name="engineerName" [(ngModel)]="user.userUsername"
                            required>
                    </div>

                    <div class="form-group">
                        Engineer Password:
                        <input type="password" class="form-control" name="engineerPassword"
                            [(ngModel)]="user.userPassword" required>
                    </div>

                    <div>
                        <label for="managerDropdown">Select Manager:</label>
                        <select name="managerId" id="managerDropdown" class="form-control"
                            [(ngModel)]="engineer.selectedManager">
                            <option *ngFor="let manager of managers" [value]="manager.managerId">
                                {{ manager.managerName }} ({{ manager.pinCode }})
                            </option>
                        </select>
                    </div>



                    <div class="text-center">
                        <button class="btn btn-outline-success mt-4">Add Engineer</button>
                    </div>

                </form>
            </div>

        </div>





    </div>
</div>