<div class="container-flex p-5">
    <div class="body">
        <span style="float: left;">
            <h2>Resolved Tickets</h2>
        </span>
        <span style="float: right;">
            <a href="/new-ticket">
                <button class="btn btn-lg alert-success mr-2">
                    <i class="fa-solid fa-plus"></i>
                    Raise New Ticket
                </button>
            </a>
            <a href="customer-dashboard">
                <button class="btn btn-lg alert-primary">
                    <i class="fa-solid fa-list"></i>
                    View Unresolved Tickets
                </button>
            </a>
        </span><br><br><br>
        <table class="table table-light table-bordered text-center">
            <thead class="bg-dark text-light">
                <tr>
                    <th>Date</th>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of data">
                <tr>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>
                        <span>
                            <span *ngIf="item[2] === 'neitherMakeReceive'">
                                Neither make or receive calls
                            </span>
                            <span *ngIf="item[2] === 'cannotMakeReceive'">
                                Cannot make a call, but receive a call
                            </span>
                            <span *ngIf="item[2] === 'canMakeCannotReceive'">
                                Can make calls, but cannot receive calls
                            </span>
                        </span>
                    </td>
                    <td>{{item[3]}}</td>
                    <td>
                        <span *ngIf="item[4] === 'RESOLVED'" class="text-success" style="font-weight: 700;">
                            {{item[4]}}
                        </span>
                    </td>
                    <td>
                        <button class="btn btn-info" (click)="viewTicket(item[1])">
                            <i class="fa-solid fa-eye"></i>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>