<div class="container-flex p-5">
    <div class="body">

        <table>
            <tr>
                <td>
                    <a href="/admin-all-cust">
                        <button class="btn btn1">
                            View All Customer
                        </button>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/admin-all-eng">
                        <button class="btn btn2">
                            View All Engineers
                        </button>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/admin-all-mngr">
                        <button class="btn btn3">
                            View All Managers
                        </button>
                    </a>
                </td>
            </tr>
        </table>

    </div>
</div>