<div class="container-flex p-5">
    <div class="body">
        <h2 class="text-center pt-2">
            Edit Manager (ID : {{ managerId }})
        </h2>

        <div class="card" style="margin-left: 30%; margin-right: 30%;">
            <div class="card-body">
                <form (ngSubmit)="onUpdateClick()" method="put">

                    <div class="form-group">
                        Manager Full Name:
                        <input type="text" class="form-control" name="custName" [(ngModel)]="manager.managerName"
                            required>
                    </div>

                    <div class="form-group">
                        Manager Username:
                        <input type="text" class="form-control" name="custUsername" [(ngModel)]="user.userUsername"
                            required>
                    </div>

                    <div class="form-group">
                        Manager Pin Code:
                        <input type="text" class="form-control" name="custPinCode" [(ngModel)]="manager.managerPinCode"
                            placeholder="eg. 400001" required>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-outline-info">Update Record</button>
                    </div>

                </form>
            </div>

        </div>





    </div>
</div>